*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./images/taylor-van-riper-yQorCngxzwI-unsplash.jpg);
  background-size: cover;
}

.alertBanner {
  text-align: center;
  background-color: red;
  color: white;
  padding: 1rem 0 1rem 0;
  display: none;
}

.alertBanner .alert-location {
  margin: 0 auto;
  width: 70%;
}

.alert-info-btn {
  padding: 0.25rem .5rem;
  background: white;
  text-transform: capitalize;
  color: black;
  margin: 0 auto;
  width: fit-content;
  border: 1px solid #000;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.alert-statement {
  display: none;
}

.alert-statement > * {
  padding: 0.5rem;
  font-size: 1.2em;
}

.alert-statement.news {
  display: block;
}

.alert-description {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: whitesmoke;
}

.current-forecast-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: snow;
}

.currentForecast {
  margin: 0 auto;
  width: 70vw;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.currentForecast-img {
  display: flex;
  justify-content: end;
}

.currentForecast-temp {
  display: flex;
  justify-content: start;
  align-items: center;
}

.currentForecast-temp p {
  font-size: 2.5rem;
  color: whitesmoke;
}

.currentForecast .current-wind {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  text-align: center;
}

.currentForecast .current-wind p {
  font-size: 1.5rem;
  color: whitesmoke;
}

.currentForecast .detailed-forecast {
  font-size: 1.3rem;
  color: white;
}

.title-header {
  font-size: 1.8rem;
  color: snow;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
}

.title-header-responsive {
  display: none;
  cursor: pointer;
}

.title-header-responsive .carrot {
  display: none;
  font-size: 1.5rem;
  text-align: right;
  padding-left: 3rem;
}

.hourly-container {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
}

.hourly-forecast {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
}

.next-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(135, 207, 235, 0.397);
  border: 1px solid #000;
  font-size: 1.1rem;
  color: snow;
}

.next-hour * {
  padding-bottom: 0.5rem;
}

.future-container {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
}

.future-forecast {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5em;
  padding: 1rem;
}

.next-cycle {
  border: 1px solid #000;
  text-align: center;
  color: white;
  background-color: rgba(139, 0, 139, 0.4);
}

.next-cycle * {
  padding: .4rem;
}

@media screen and (max-width: 1000px) {
  .hourly-forecast {
    grid-template-columns: repeat(4, 1fr);
  }
  .future-forecast {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .future-forecast {
    all: unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem;
  }
  .currentForecast {
    width: 90vw;
    all: unset;
    grid-template-rows: repeat(2, 1fr);
  }
  .currentForecast-img, .currentForecast-temp {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
  }
  .currentForecast .current-wind {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
  }
  .currentForecast .detailed-forecast {
    margin: 0 auto;
    width: 80vw;
    padding-bottom: 1rem;
    text-align: center;
  }
  .alertBanner {
    padding: 0;
    margin-bottom: 1rem;
  }
  .alertBanner .alert-location {
    margin: 0;
    width: 100%;
    padding: .5rem .2rem;
  }
  .alert-btn-container {
    padding-bottom: .5rem;
  }
  .alert-btn-container p {
    margin: 0 auto;
  }
  .alert-description {
    text-align: initial;
  }
}

@media screen and (max-width: 450px) {
  .title {
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .hourly {
    position: relative;
  }
  .hourly-container {
    margin: 0;
    padding-top: 1rem;
    position: absolute;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms linear;
    opacity: 0;
  }
  .hourly-forecast {
    all: unset;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    width: 90vw;
  }
  .title-header {
    display: none;
  }
  .title-header-responsive {
    display: block;
    font-size: 1.8em;
    color: snow;
    text-align: center;
    width: 100vw;
    padding: 1rem 0;
    background-color: darkblue;
  }
  .title-header-responsive .carrot {
    display: block;
    position: absolute;
    right: 10vw;
    display: inline;
  }
}

.info {
  position: relative;
  transform: scale(1, 1);
  opacity: 1;
  transition: opacity 500ms linear;
}

.rotate {
  transform: rotateX(180deg);
  position: absolute;
  right: 10vw;
}
