@import "./components/mixins";

*,
*::before,
*::after,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./images/taylor-van-riper-yQorCngxzwI-unsplash.jpg);
    background-size: cover;
}

@import "./components/page";
@import "./components/mediaQuery";
